
<h1>Organizations</h1>

<a href="/orgs/new">New Organization</a>


<div class="row">
    {{#each charities}}
    <div class="col-sm-3">
        <h2><a href="/orgs/{{this._id}}">{{this.organizationName}}</a></h2>
        <small>Description: {{this.description}}</small> <br>
        <small>Funding Amount Needed: {{this.donationNeeded}}</small>
    </div>
    {{/each}}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {{#is currentPage 1}}
            <li class="page-item disabled">
                <a href="" class="page-link">Prev</a> 
            </li>
        {{else}}
            <li class="page-item">
                <a href="?term={{@root.searchQuery}}&page={{subtract currentPage 1}}">Prev</a>
            </li>
        {{/is}}
        {{!-- numbered page buttons --}}
        <p>{{pageNumbers}}</p>
        {{#each pageNumbers}}
        <a href="?term={{@root.searchQuery}}&page={{this}}">
            {{#is this @root.currentPage}}
            <li class="page-item current">
                {{else}}
            <li class="page-item">
                {{/is}}
                {{this}}
            </li>
        </a>
        {{/each}}
        {{!-- next page button --}}
        {{#is currentPage numPages}}
            <li class="page-item disabled">
               <a href="" class="page-link" >Next</a> 
            </li>
        {{else}}
            <li class="page-item">
                <a href="?term={{@root.searchQuery}}&page={{sum currentPage 1}}">Next</a>
            </li>
        {{/is}}
    </ul>
</nav>



