<a href="/">Back to Home


    <h1>{{charity.organizationName}}</h1>
    <h2>{{charity.description}}</h2> <br>
    <h2>{{charity.donationNeeded}}</h2>


<p><a href="/orgs/{{charity._id}}/edit">Edit</a></p>

<!-- Delete button -->
<p>
    <form method="POST" action="/orgs/{{charity._id}}?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
</p>